# fly.toml app configuration file generated for trailapi on 2025-11-15T11:55:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'trailapi'
primary_region = 'ams'

[build]

[env]
  PORT = '8080'
  BETTER_AUTH_URL = 'https://trailapi.fly.dev'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
